.content{
	max-width: 1500px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.navigation{
	display: flex;
	background-color: var(--color-navbar-foreground);
	color: var(--color-primary);
	height: 3.5em;
}

.navigation__left,
.navigation__right{
	display: flex;
	align-items: center;
	padding: 1em;
}

.navigation__left{
	flex-basis: 70%;
	background-color: var(--color-secondary);
	border-top-right-radius: 19px;
	border-bottom-right-radius: 19px;
}

.navigation__right{
	flex-basis: 30%;
	background-color: #484C5B;
}

.lang-select{
  padding: 0.15em;
	background-color: var(--color-navbar-foreground);
	color: var(--secondary-color); 
	border: none;
	outline: none;
	cursor: pointer;
	transition: transform 0.5s ease;
	border-radius: 14px;
  box-shadow: 0 10px 18px 1px hsla(0,100%,0%,0.2);
}

.lang-select:hover{ transform: scale(var(--growth-factor-hover),var(--growth-factor-hover)); }

.lang-select__option { background-color: #595E70; }

.header{
	padding: 1.5em;
	padding-bottom: 0;
	background: left bottom no-repeat url("/assets/svg/curvita.png");
	background-size: 180%;
} 


.header__content{
	min-height: 75vh;
}

.header__logo,
.header__workflow{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo__image{
	width: 50%;
	transition: transform 0.5s ease;
}

.logo__image:hover{
  transform: scale(var(--growth-factor-hover),var(--growth-factor-hover))
}

.logo__distroname{
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: 2px;
	margin-top: 0.5em;
}

.logo__slogan{
	font-family: "FreeMono";
	text-transform: uppercase;
}

.workflow__img{
	width: 70%;
	margin-bottom: 1em;
}

.features{
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.feature{
	display: flex;
  align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 1em;
}

.feature__img  {	
	width: 20%;
}

.feature__text{
	width: 50%;
}

.join{

}

.philosophy{
	background-color: var(--color-secondary);
	color: var(--color-primary);
}
