/* GLOBAL  */
:root{
	--color-primary    : #E7EBFF;
	--color-secondary  : #2A366F;
	--font-primary  : "Comfortaa";
	--font-secondary: "FreeMono";
}

*,
*::before,
*::after{
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* Classes  */
.app{
	min-height: 100vh;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	font-family: var(--font-primary);
}

.section{
	height: 90vh;
}

.navigation{
	background-color: var(--color-secondary);
	color: var(--color-primary);
	height: 2.7em;
}

.header{

}

.features{
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.join{

}

.philosophy{
	background-color: var(--color-secondary);
	color: var(--color-primary);
}
